*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}



body {
   
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(43, 25, 209);
}
.wrapper {
    min-height: 100%;
    overflow: hidden;

  display: flex;
  flex-direction: column;
}
.container {
    max-width: 1180px;
    margin: 0px auto;
    padding: 0 20px
}

.content {
    flex: 1 1 auto;
}

.footer {
    background-color:rgb(248, 34, 98);

}
.footer__row {
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;
}
.footer__text {
    font-size: 16px;
    letter-spacing: 0.3px;
    color:cornsilk;
   
    
}

.hi {
    background-color: rgb(255, 240, 240);
    padding: 50px 0;
}
.hi__body{
clear:left;
}

.hi__row {
    display: flex;
    justify-content:space-between;
    align-items: center;
}


.hi__title {
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
    font-size: calc(22px + 14 * ( 100vw / 1180 ));
    margin: 0px 0px 38px 0px;
}



.hi__list li {
text-shadow: rgba(0,0,0,0.3);
font-size: calc(12px + 6 * ( 100vw / 1180 ));
padding: 0px 0px 0px 36px; 
margin: 0px 0px 15px 0px;
}

.hi__image{
    flex: 0 0 33.333%;
   
    border: 4px solid rgb(243, 243, 243);  
    transition: all 0.2s ease-out;
    overflow: hidden;
    
}

.hi__image:hover {
    box-shadow: 0px 5px 15px 2px rgb(255, 255, 255);
   border: 5px solid rgb(20, 5, 153);  
  transition: all 0.2s ease-in;
}
.hi__image img {
    
  max-width:150%;
  max-height: 100%;
 
    
 transition: all 0,2s ease-out;
    
}


.hi__body {
    padding: 0px 30px 0px 0px;
}

.title {
    text-shadow: 3px -1px 8px rgba(0, 0, 0, 0.795);
    font-size: -webkit-calc(16px + 14 * ( 100vw / 1180 ));
    margin: 0px 0px 33px 0px;
    color:rgb(253, 253, 253);
}

.what__row {
    display: flex;

}
.what {
    padding: 50px 0;
}
.what__image {
    flex: 0 0 50%;
  
}
.what__image img {
    box-shadow: 0px 5px 53px 2px rgba(255, 255, 255, 0.562);
    max-width: 100%;
    
}
.what__body {
    flex: 1 1 auto;
    padding: 0px 0px 0px 38px;
}
.what__title {
    margin: 0px 0px 33px 0px;
}

.what__text p {
    color: rgb(228, 223, 220);
    font-size: 16px;
    margin: 0px 0px 30px 0px;
}

.columns {
    background-color: rgba(143, 22, 224, 0.959);
    padding: 50px 0 20px 0;
}
.columns__title {
    text-align:center;
    margin:0px, 0px, 30px, 0px;
}

.columns__row {
    display:flex;
    flex-wrap: wrap;
    margin: 0px -8px;
}

.columns__column {
    padding: 0px 8px;
    flex: 0 1 50%;
    margin: 0px 0px 30px 0px ;
}

.item__row {
    display: flex;
}
.item__image {
    transition:all 0.3s ease-out 0.1s;
    
    flex: 0 0 50%;

}

.item__image img {
    max-width: 100%;
    border: 1px solid skyblue;
    
    
}
.item__row .item__text, .item__row .item__title, .item__row .item__image img  {
    transition:all 0.3s ease-out;
    
}
.item__row:hover .item__text,  .item__row:hover .item__title{
    
    transition:all 0.3s ease-in 0.05s;
    transform: rotate(0.7deg);
    color: white;
    font-size: 1,2em;
}
.item__row:hover .item__image img{
box-shadow: 0px 5px 53px 2px rgba(255, 255, 255, 0.658);
transition:all 0.4s ease-in 0.1s;

}
.item__row:hover .item__image {
    transition:all 0.2s ease-in 0.1s;
    transform: scale(1.01);

}
.item__body {
    flex: 1 1 auto;
    padding: 0px 0px 0px 15px;
}


.item__text {
    color:skyblue;
    font-size: 16px;
    line-height: 24px;
}

.item__title {
    font-size: 24px;
    color:skyblue;
    line-height: 30px;
    margin: 0px 0px 13px 0px;
}

.vertical {
    padding: 40px 20px;
}
.vertical__title {
    text-align: center;
    margin: 0px 0px 30px 0px;
}
.vertical__body {
    max-width: 990px;
    margin: 0px auto;
}
.vertical__row {
    display:flex;
    margin: 0px -22.5px;
}
.vertical__column {
    flex: 0 1 33.3333%;
    padding: 0px 22.5px;
    display: flex;
}

.vertical__item {
    box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.342);
    background-color: rgb(71, 120, 255);
    color:whitesmoke;
    border-radius: 5px;
    border: 3px solid rgb(71, 120, 255);
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    min-width: 250px;

}
.vertical__subtitle {
    font-size: 24px;
    text-transform: uppercase;
    padding: 12px 0;
    text-align: center;
}

.vertical__label {
    background-color: #fff;
    text-align: center;
    color: rgb(71, 120, 255);
    padding: 15px 0;
    font-size: 40px;
}

.vertical__text {
    padding:20px;
    font-size: 14px;
    line-height: 20px;
    flex: 1 1 auto;
}

.vertical__text p{
    margin: 0px 0px 15px 0px;
}
.vertical__text p:last-child {
    margin: 0;
}


.vertical__btn {
    display: block;
    margin: 0px 20px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    font-size: 18px;
    transition: all 0.3s ease-out;
}
.vertical__btn:hover {
transition: all 0.5s ease-in;

background-color: rgb(35, 56, 245);
color:whitesmoke;
border:1px solid rgb(255, 255, 255);

}

@media (max-width: 850px) {
    .columns__row{
        flex-direction: column;
    }
    
    .vertical__column{
        margin: 0px auto 30px auto;
        padding: 0px auto;
        max-width: 500px;
    }
    .vertical__row{
        flex-direction: column;
    }
   .what__row {
    flex-direction: column;
    }
    .what__image {
        max-width: 700px;
        margin: 0px auto 25px auto;
    }
    .hi__row {
        flex-direction: column;
    }
    .hi__image img {
        max-width: 100%;
    }
    .hi__title {
        text-align: center;
    }
}
@media (max-width: 500px){
    .item__row {
        flex-direction:column;
    }  

}